#root {
  --red: #d64933;
  --orange: #fa8334;
  --yellow: #ea9010;
  --green1: #56c876;
  --green2: #4fb561;
  --blue1: #6dc5e2;
  --blue2: #23b5d3;
  --purple1: #a288b1;
  --purple2: #8c4dc0;
  --cherry: #832232;
  --barbie: #da4167;
  --peach: #e87461;
  --font: #f3e9f7;
  --bg: #160715;
  --secondary: #8b257f;

  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--font);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 400;
}

h3 {
  margin-block: 0;
}

a {
  color: var(--font);
}

p {
  max-width: 60vw;
  margin-block: 0;
}

button {
  background-color: var(--font);
  border: none;
  color: var(--bg);
  border-radius: 0.5em;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  padding: 0.5em;
}

input,
textarea {
  background-color: var(--font);
  color: var(--bg);
  border: none;
  font-size: 1rem;
  border-radius: 0.2em;
  font-family: "Lato", sans-serif;
}

input[type="color"] {
  background-color: var(--font);
  border: none;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  padding: 0;
}
